.news-home-headnav {
  height: 52px;
  width: 100%;
  background-color: #3F63BF;
  margin: 0;
  padding-left: 15.4%;
}

.news-home-headnav ul {
  margin: 0;
}

.news-home-headnav ul li:nth-child(2) {
  margin-top: 13px;
}

.news-home-headnav ul li:first-child a {
  padding: 30px 0 5px;
}

.news-home-headnav ul li:nth-child(2) a {
  padding: 13px 9px 13px 0;
}

.news-home-headnav-link {
  display: inline-block;
  padding: 16px 7px 12px;  
}

.news-home-headnav ul li:nth-child(3) {
  margin-left: 0 !important;
}

.news-home-headnav-link::before {
  content: "";
  display: inline-block;
  height: 14px;
  border: 0.5px solid rgb(255, 255, 255, 0.15);
  position: relative;
  top: 1px;
  right: 7px;
}

.news-home-headnav ul li a {
  color: rgb(255, 255, 255,0.65);
  font-size: 17.6px;
  font-weight: 400;
  text-decoration: none;
}

.news-home-headnav ul li:first-child a::before {
  content: "";
  display: inline-block;
  background-image: url(../../../../../../images/naver-logo-blue.png);
  background-repeat: no-repeat;
  width: 46px;
  height: 43px;
  transform: scale(0.5) translate(5px, 7px);
}

.news-home-headnav ul li:nth-child(2) a {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 900;
}

.news-home-nav {
  width: 100%;
  background-color: white;
  height: 46px;
  margin-left: 16%;
  padding-top: 12.5px;
}

.news-home-nav ul {
  margin: 0;
}

.news-home-nav ul li a {
  font-size: 14px;
  font-weight: 700;
}

.news-home-navlink {
  text-decoration: none;
  color: black;
  padding: 15px 10px 14px;

}

.news-home-navlink.active {
  color: #3F63BF;
  border-bottom: solid #3F63BF;
}