.mNews-contentHead {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.469);
  justify-content: space-between;
  font-size: 13px;
  padding-bottom: 3.3px;
  margin-top: 5px;
}

.mNews-contentHead.no-margin{
  margin-top: 0 !important;
}

.mNews-contentHead div {
  font-weight: bold;
}

.mNews-contentHead-buttons {
  padding: 0 0 2px;
}

.mNews-contentHead button {
  border: none;
  cursor: pointer;
  margin-bottom: 3px;
  padding: 0;
  margin-left: 15px;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  background-color: white;
}

.grey-button {
  background-color: #F3F6F8 !important;
}

.mNews-contentHead button:nth-child(n+2)::before {
  content: '';
  display: inline-block;
  height: 11px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 2px;
  left: -8px;
}