.news-sport-headnav {
  height: 55px;
  width: 100%;
  background-color: #3663C8;
  margin: 0;
  border-bottom: 1px solid #3059B4;  
}

.news-sport-headnav ul {
  margin: 0;
}

.news-sport-nav {
  height: 60px;
  width: 100%;
  background-color: #3663C8;
  margin: 0;
}

.news-sport-nav ul {
  margin: 0;
}